* {
  box-sizing: border-box;
}

body {
  background: rgb(224, 5, 5);
  background: linear-gradient(
    138deg,
    rgba(224, 5, 5, 1) 1%,
    rgba(171, 0, 255, 1) 100%
  );
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

form {
  background-color: #dfdfdf44;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border-top: 1px solid white;
  border-left: 1px solid white;
  margin: 1rem;
  width: 80%;
  max-width: 400px;
}
